@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: inherit; }
  a:hover, a:focus {
    color: inherit;
    box-shadow: none;
    text-decoration: none; }

.table {
  margin: 0; }

.btn {
  padding: 0;
  border-radius: 0;
  box-shadow: none !important; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.container .row,
.container-fluid .row {
  overflow: hidden; }
  .container .row .col-1,
  .container .row .col-md-1,
  .container .row .col-lg-1,
  .container-fluid .row .col-1,
  .container-fluid .row .col-md-1,
  .container-fluid .row .col-lg-1 {
    float: left; }
  .container .row .col-2,
  .container .row .col-md-2,
  .container .row .col-lg-2,
  .container-fluid .row .col-2,
  .container-fluid .row .col-md-2,
  .container-fluid .row .col-lg-2 {
    float: left; }
  .container .row .col-3,
  .container .row .col-md-3,
  .container .row .col-lg-3,
  .container-fluid .row .col-3,
  .container-fluid .row .col-md-3,
  .container-fluid .row .col-lg-3 {
    float: left; }
  .container .row .col-4,
  .container .row .col-md-4,
  .container .row .col-lg-4,
  .container-fluid .row .col-4,
  .container-fluid .row .col-md-4,
  .container-fluid .row .col-lg-4 {
    float: left; }
  .container .row .col-5,
  .container .row .col-md-5,
  .container .row .col-lg-5,
  .container-fluid .row .col-5,
  .container-fluid .row .col-md-5,
  .container-fluid .row .col-lg-5 {
    float: left; }
  .container .row .col-6,
  .container .row .col-md-6,
  .container .row .col-lg-6,
  .container-fluid .row .col-6,
  .container-fluid .row .col-md-6,
  .container-fluid .row .col-lg-6 {
    float: left; }
  .container .row .col-7,
  .container .row .col-md-7,
  .container .row .col-lg-7,
  .container-fluid .row .col-7,
  .container-fluid .row .col-md-7,
  .container-fluid .row .col-lg-7 {
    float: left; }
  .container .row .col-8,
  .container .row .col-md-8,
  .container .row .col-lg-8,
  .container-fluid .row .col-8,
  .container-fluid .row .col-md-8,
  .container-fluid .row .col-lg-8 {
    float: left; }
  .container .row .col-9,
  .container .row .col-md-9,
  .container .row .col-lg-9,
  .container-fluid .row .col-9,
  .container-fluid .row .col-md-9,
  .container-fluid .row .col-lg-9 {
    float: left; }
  .container .row .col-10,
  .container .row .col-md-10,
  .container .row .col-lg-10,
  .container-fluid .row .col-10,
  .container-fluid .row .col-md-10,
  .container-fluid .row .col-lg-10 {
    float: left; }
  .container .row .col-11,
  .container .row .col-md-11,
  .container .row .col-lg-11,
  .container-fluid .row .col-11,
  .container-fluid .row .col-md-11,
  .container-fluid .row .col-lg-11 {
    float: left; }
  .container .row .col-12,
  .container .row .col-md-12,
  .container .row .col-lg-12,
  .container-fluid .row .col-12,
  .container-fluid .row .col-md-12,
  .container-fluid .row .col-lg-12 {
    float: left; }
  .container .row.priority,
  .container-fluid .row.priority {
    overflow: visible; }

.container {
  max-width: 1200px !important; }

body {
  position: relative;
  min-width: 1200px;
  font-size: 14px;
  color: #666;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif; }

.introduction .page-header {
  background-image: url(/assets/images/introduction/bg_page_header.jpg); }

.greeting .section-content h5 {
  font-size: 38px;
  font-weight: 400;
  line-height: 60px;
  color: #333;
  margin-bottom: 70px;
  letter-spacing: -1px; }
  .greeting .section-content h5 strong {
    color: #33738d; }
.greeting .section-content .slogan {
  font-size: 22px;
  color: #555;
  line-height: 36px;
  font-weight: 400;
  padding-bottom: 310px;
  background-image: url(/assets/images/introduction/bg_greeting.png);
  background-repeat: no-repeat;
  background-position: 50% 100%; }
.greeting .section-content .summary {
  margin-top: 60px;
  overflow: hidden; }
  .greeting .section-content .summary p {
    float: left;
    width: 50%;
    word-break: keep-all;
    font-size: 16px;
    color: #555;
    letter-spacing: -.5px;
    font-weight: 300;
    line-height: 30px; }
    .greeting .section-content .summary p:first-child {
      padding-right: 35px; }
    .greeting .section-content .summary p:last-child {
      padding-left: 35px; }

.vision .section-content .sub-title ~ .sub-title {
  margin-top: 90px; }
.vision .section-content > p {
  font-size: 16px;
  color: #555;
  line-height: 30px; }
.vision .section-content > article {
  text-align: center;
  padding: 80px 0 70px;
  border: 1px solid #dfdfdf;
  background-color: #f1f1f1; }
  .vision .section-content > article figure {
    display: block;
    margin: 0 auto; }
    .vision .section-content > article figure ~ figure {
      margin-top: 50px; }
  .vision .section-content > article > p {
    font-size: 20px;
    color: #333;
    font-weight: 400;
    line-height: 40px;
    margin-top: 40px; }
    .vision .section-content > article > p strong {
      font-size: 30px;
      color: #33738d; }
.vision .section-content > ul {
  margin-top: 40px; }
  .vision .section-content > ul > li > .circle-box {
    text-align: center; }
    .vision .section-content > ul > li > .circle-box .icon-item {
      display: block;
      margin: 0 auto;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: #ebebeb;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .vision .section-content > ul > li > .circle-box > p {
      margin-top: 20px;
      font-size: 18px;
      color: #333;
      line-height: 30px; }
    .vision .section-content > ul > li > .circle-box:hover .icon-item {
      background-color: #33738d; }
  .vision .section-content > ul > li:nth-of-type(1) .circle-box .icon-item {
    background-image: url(/assets/images/introduction/img_vision01.png); }
  .vision .section-content > ul > li:nth-of-type(1) .circle-box:hover .icon-item {
    background-image: url(/assets/images/introduction/img_vision01_on.png); }
  .vision .section-content > ul > li:nth-of-type(2) .circle-box .icon-item {
    background-image: url(/assets/images/introduction/img_vision02.png); }
  .vision .section-content > ul > li:nth-of-type(2) .circle-box:hover .icon-item {
    background-image: url(/assets/images/introduction/img_vision02_on.png); }
  .vision .section-content > ul > li:nth-of-type(3) .circle-box .icon-item {
    background-image: url(/assets/images/introduction/img_vision03.png); }
  .vision .section-content > ul > li:nth-of-type(3) .circle-box:hover .icon-item {
    background-image: url(/assets/images/introduction/img_vision03_on.png); }

.business .section-content .sub-title ~ .sub-title {
  margin-top: 90px; }
.business .section-content figure {
  overflow: hidden;
  margin-bottom: 40px; }
  .business .section-content figure > img {
    float: left;
    margin-right: 10px; }
    .business .section-content figure > img:last-child {
      margin-right: 0; }

.location .section-content .maps {
  border: 1px solid #dfdfdf;
  margin-bottom: 40px; }
  .location .section-content .maps img {
    width: 100%; }
.location .section-content > ul > li {
  display: table;
  width: 100%; }
  .location .section-content > ul > li ~ li {
    margin-top: 30px; }
  .location .section-content > ul > li > figure {
    display: table-cell;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    background-color: #f1f1f1; }
    .location .section-content > ul > li > figure img {
      display: inline-block; }
  .location .section-content > ul > li > dl {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px; }
    .location .section-content > ul > li > dl dt {
      font-size: 18px;
      color: #33738d;
      font-weight: 400;
      margin-bottom: 5px; }
    .location .section-content > ul > li > dl dd {
      font-size: 16px;
      color: #555;
      font-weight: 300;
      line-height: 30px; }
      .location .section-content > ul > li > dl dd address {
        font-size: 16px;
        color: #555;
        font-weight: 300;
        line-height: 30px; }

/*# sourceMappingURL=introduction.css.map */
