@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: inherit; }
  a:hover, a:focus {
    color: inherit;
    box-shadow: none;
    text-decoration: none; }

.table {
  margin: 0; }

.btn {
  padding: 0;
  border-radius: 0;
  box-shadow: none !important; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.container .row,
.container-fluid .row {
  overflow: hidden; }
  .container .row .col-1,
  .container .row .col-md-1,
  .container .row .col-lg-1,
  .container-fluid .row .col-1,
  .container-fluid .row .col-md-1,
  .container-fluid .row .col-lg-1 {
    float: left; }
  .container .row .col-2,
  .container .row .col-md-2,
  .container .row .col-lg-2,
  .container-fluid .row .col-2,
  .container-fluid .row .col-md-2,
  .container-fluid .row .col-lg-2 {
    float: left; }
  .container .row .col-3,
  .container .row .col-md-3,
  .container .row .col-lg-3,
  .container-fluid .row .col-3,
  .container-fluid .row .col-md-3,
  .container-fluid .row .col-lg-3 {
    float: left; }
  .container .row .col-4,
  .container .row .col-md-4,
  .container .row .col-lg-4,
  .container-fluid .row .col-4,
  .container-fluid .row .col-md-4,
  .container-fluid .row .col-lg-4 {
    float: left; }
  .container .row .col-5,
  .container .row .col-md-5,
  .container .row .col-lg-5,
  .container-fluid .row .col-5,
  .container-fluid .row .col-md-5,
  .container-fluid .row .col-lg-5 {
    float: left; }
  .container .row .col-6,
  .container .row .col-md-6,
  .container .row .col-lg-6,
  .container-fluid .row .col-6,
  .container-fluid .row .col-md-6,
  .container-fluid .row .col-lg-6 {
    float: left; }
  .container .row .col-7,
  .container .row .col-md-7,
  .container .row .col-lg-7,
  .container-fluid .row .col-7,
  .container-fluid .row .col-md-7,
  .container-fluid .row .col-lg-7 {
    float: left; }
  .container .row .col-8,
  .container .row .col-md-8,
  .container .row .col-lg-8,
  .container-fluid .row .col-8,
  .container-fluid .row .col-md-8,
  .container-fluid .row .col-lg-8 {
    float: left; }
  .container .row .col-9,
  .container .row .col-md-9,
  .container .row .col-lg-9,
  .container-fluid .row .col-9,
  .container-fluid .row .col-md-9,
  .container-fluid .row .col-lg-9 {
    float: left; }
  .container .row .col-10,
  .container .row .col-md-10,
  .container .row .col-lg-10,
  .container-fluid .row .col-10,
  .container-fluid .row .col-md-10,
  .container-fluid .row .col-lg-10 {
    float: left; }
  .container .row .col-11,
  .container .row .col-md-11,
  .container .row .col-lg-11,
  .container-fluid .row .col-11,
  .container-fluid .row .col-md-11,
  .container-fluid .row .col-lg-11 {
    float: left; }
  .container .row .col-12,
  .container .row .col-md-12,
  .container .row .col-lg-12,
  .container-fluid .row .col-12,
  .container-fluid .row .col-md-12,
  .container-fluid .row .col-lg-12 {
    float: left; }

.container {
  max-width: 1200px !important; }

body {
  position: relative;
  min-width: 1200px;
  font-size: 14px;
  color: #666;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif; }

#content .jumbotron {
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: none; }
  #content .jumbotron .visual-slide li {
    outline: none;
    padding-top: 410px;
    background-position: 50% 0;
    background-size: auto 816px;
    background-repeat: no-repeat; }
    #content .jumbotron .visual-slide li .container .slogan {
      position: relative;
      top: 100px;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      width: 500px;
      height: 600px;
      color: #fff;
      padding: 40px 50px 0;
      background-color: rgba(0, 80, 112, 0.8);
      box-shadow: 5px 5px 8.01px 0.99px rgba(0, 0, 0, 0.17); }
      #content .jumbotron .visual-slide li .container .slogan small {
        display: block;
        font-weight: 300;
        font-size: 24px;
        font-family: 'NanumSquare', sans-serif;
        position: relative;
        top: 40px;
        opacity: 0;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s; }
      #content .jumbotron .visual-slide li .container .slogan h3 {
        font-size: 64px;
        font-weight: bold;
        font-weight: 500;
        font-family: 'NanumSquare', sans-serif;
        margin-top: 10px;
        position: relative;
        top: 40px;
        opacity: 0;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s; }
      #content .jumbotron .visual-slide li .container .slogan > p {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        margin-top: 30px;
        position: relative;
        top: 40px;
        opacity: 0;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 1.2s;
        transition-delay: 1.2s; }
      #content .jumbotron .visual-slide li .container .slogan hr {
        width: 34px;
        display: block;
        margin: 180px auto 20px 0;
        border-top: 3px solid #fff;
        position: relative;
        top: 40px;
        opacity: 0;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 1.6s;
        transition-delay: 1.6s; }
      #content .jumbotron .visual-slide li .container .slogan strong {
        display: block;
        color: #fff;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        position: relative;
        top: 40px;
        opacity: 0;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 2s;
        transition-delay: 2s; }
    #content .jumbotron .visual-slide li.action .slogan {
      top: 0;
      opacity: 1; }
      #content .jumbotron .visual-slide li.action .slogan small {
        top: 0;
        opacity: 1; }
      #content .jumbotron .visual-slide li.action .slogan h3 {
        top: 0;
        opacity: 1; }
      #content .jumbotron .visual-slide li.action .slogan > p {
        top: 0;
        opacity: 1; }
      #content .jumbotron .visual-slide li.action .slogan hr {
        top: 0;
        opacity: 1; }
      #content .jumbotron .visual-slide li.action .slogan strong {
        top: 0;
        opacity: 1; }
  #content .jumbotron .control-box {
    position: absolute;
    top: 740px;
    left: 50%;
    margin-left: -585px; }
    #content .jumbotron .control-box.prev {
      padding-left: 50px; }
    #content .jumbotron .control-box.next {
      padding-left: 100px; }
    #content .jumbotron .control-box button {
      cursor: pointer;
      outline: none;
      position: relative;
      z-index: 3;
      display: block;
      width: 36px;
      color: #fff;
      height: 36px;
      text-align: center;
      line-height: 34px;
      padding: 0;
      border-radius: 50%;
      background: none;
      border: 1px solid #fff;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      #content .jumbotron .control-box button:hover {
        color: rgba(0, 80, 112, 0.8);
        background-color: #fff; }
  #content .jumbotron .summary {
    position: absolute;
    bottom: 70px;
    left: 50%;
    width: 1170px;
    font-size: 16px;
    color: #666;
    font-weight: 300;
    line-height: 30px;
    padding-left: 570px;
    margin-left: -585px; }

.service {
  padding: 90px 0; }
  .service .section-header {
    padding-bottom: 50px; }
    .service .section-header h3 {
      font-size: 28px;
      color: #333;
      line-height: 42px;
      font-weight: 400; }
  .service .section-content ul li a {
    display: block; }
    .service .section-content ul li a figure figcaption {
      position: relative;
      height: 226px;
      text-align: center;
      padding: 40px 0 45px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .service .section-content ul li a figure figcaption h4 {
        font-size: 20px;
        color: #333;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 20px; }
      .service .section-content ul li a figure figcaption p {
        font-size: 15px;
        color: #666;
        line-height: 24px;
        font-weight: 300; }
    .service .section-content ul li a:hover figure figcaption {
      border: 1px solid #bcbcbc;
      border-top: 0; }

.direction-operation .direction-slide .bg-list {
  position: relative;
  outline: none;
  width: 100%;
  height: 745px;
  margin-bottom: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .direction-operation .direction-slide .bg-list .details {
    position: absolute;
    right: 0;
    bottom: -170px;
    opacity: 0;
    width: 50%;
    color: #fff;
    padding: 70px 70px 120px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background-color: rgba(37, 40, 48, 0.9); }
    .direction-operation .direction-slide .bg-list .details small {
      position: relative;
      top: -30px;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0.4s;
      transition-delay: 0.4s;
      display: block;
      font-size: 18px;
      margin-bottom: 10px; }
    .direction-operation .direction-slide .bg-list .details h3 {
      position: relative;
      top: -30px;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0.8s;
      transition-delay: 0.8s;
      font-size: 38px;
      font-weight: 500;
      margin-bottom: 60px; }
    .direction-operation .direction-slide .bg-list .details p {
      position: relative;
      top: -30px;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 1.2s;
      transition-delay: 1.2s;
      font-size: 14px;
      line-height: 28px;
      font-weight: 400; }
  .direction-operation .direction-slide .bg-list.on .details {
    bottom: -70px;
    opacity: 1; }
    .direction-operation .direction-slide .bg-list.on .details small {
      top: 0;
      opacity: 1; }
    .direction-operation .direction-slide .bg-list.on .details h3 {
      top: 0;
      opacity: 1; }
    .direction-operation .direction-slide .bg-list.on .details p {
      top: 0;
      opacity: 1; }
.direction-operation .slick-dots {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 45px;
  padding-left: 70px; }
  .direction-operation .slick-dots > li {
    display: inline-block; }
    .direction-operation .slick-dots > li > button {
      outline: none;
      cursor: pointer;
      display: block;
      width: 15px;
      height: 15px;
      display: block;
      padding: 0;
      text-indent: -99999px;
      margin-right: 10px;
      border-radius: 50%;
      border: 1px solid #fff;
      background: none; }
    .direction-operation .slick-dots > li.slick-active > button {
      background-color: #fff; }
    .direction-operation .slick-dots > li:last-child > button {
      margin-right: 0; }

.professional-service {
  padding: 140px 0 100px;
  background-image: url(/assets/images/main/bg_professional.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .professional-service .section-header {
    padding-bottom: 60px; }
    .professional-service .section-header h3 {
      font-size: 28px;
      color: #333;
      line-height: 42px;
      font-weight: 400; }
  .professional-service .section-content ul li a {
    display: block;
    text-align: center; }
    .professional-service .section-content ul li a .item-icon {
      display: block;
      margin: 0 auto;
      width: 200px;
      height: 200px;
      background-color: #fff;
      border-radius: 50%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      box-shadow: 4px 4px 14.24px 1.76px rgba(0, 0, 0, 0.08);
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .professional-service .section-content ul li a dl {
      margin-top: 30px; }
      .professional-service .section-content ul li a dl dt {
        font-size: 20px;
        font-weight: 400;
        color: #333;
        margin-bottom: 20px; }
      .professional-service .section-content ul li a dl dd {
        font-size: 15px;
        color: #666;
        font-weight: 300;
        line-height: 24px; }
    .professional-service .section-content ul li a:hover .item-icon {
      background-color: #33738d; }
  .professional-service .section-content ul li:nth-of-type(1) a .item-icon {
    background-image: url(/assets/images/main/professional_icon01.png); }
  .professional-service .section-content ul li:nth-of-type(1) a:hover .item-icon {
    background-image: url(/assets/images/main/professional_icon_on01.png); }
  .professional-service .section-content ul li:nth-of-type(2) a .item-icon {
    background-image: url(/assets/images/main/professional_icon02.png); }
  .professional-service .section-content ul li:nth-of-type(2) a:hover .item-icon {
    background-image: url(/assets/images/main/professional_icon_on02.png); }
  .professional-service .section-content ul li:nth-of-type(3) a .item-icon {
    background-image: url(/assets/images/main/professional_icon03.png); }
  .professional-service .section-content ul li:nth-of-type(3) a:hover .item-icon {
    background-image: url(/assets/images/main/professional_icon_on03.png); }
  .professional-service .section-content ul li:nth-of-type(4) a .item-icon {
    background-image: url(/assets/images/main/professional_icon04.png); }
  .professional-service .section-content ul li:nth-of-type(4) a:hover .item-icon {
    background-image: url(/assets/images/main/professional_icon_on04.png); }

.information {
  padding: 90px 0 120px; }
  .information article .article-title {
    font-size: 20px;
    color: #333;
    font-weight: 400;
    margin-bottom: 30px; }
    .information article .article-title a {
      position: relative;
      top: 3px;
      float: right;
      font-size: 10px; }
  .information article .maps {
    width: 100%;
    height: 260px;
    border: 1px solid #dedede; }
  .information article .details {
    position: relative; }
    .information article .details > a {
      outline: none;
      text-align: center;
      display: block; }
      .information article .details > a .item {
        width: 100%;
        height: 260px;
        border: 1px solid #dedede; }
      .information article .details > a h4 {
        font-size: 15px;
        color: #333;
        font-weight: 400;
        margin-top: 20px; }
  .information article.board-list {
    margin-top: 100px;
    margin-right: -30px; }
  .information article.review-list {
    margin-top: 100px;
    margin-left: -30px; }
  .information article .article-header {
    position: relative;
    border-bottom: 1px solid #000; }
    .information article .article-header h3 {
      display: inline-block;
      font-size: 18px;
      color: #33738d;
      font-weight: 400;
      padding: 0 8px 20px;
      border-bottom: 2px solid #33738d; }
    .information article .article-header > a {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 10px;
      color: #333; }
    .information article .article-header .board-tab ul {
      overflow: hidden; }
      .information article .article-header .board-tab ul li {
        position: relative;
        float: left; }
        .information article .article-header .board-tab ul li a {
          display: inline-block;
          font-size: 18px;
          color: #999;
          font-weight: 300;
          padding: 0 25px 14px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .information article .article-header .board-tab ul li a:hover {
            font-weight: 400;
            color: #33738d;
            border-bottom: 2px solid #33738d;
            opacity: .7; }
        .information article .article-header .board-tab ul li:after {
          position: absolute;
          top: 5px;
          right: 0;
          width: 1px;
          height: 18px;
          content: "";
          display: block;
          background-color: #e5e5e5; }
        .information article .article-header .board-tab ul li:last-child:after {
          display: none; }
        .information article .article-header .board-tab ul li.active a {
          font-weight: 400;
          color: #33738d;
          border-bottom: 2px solid #33738d; }
          .information article .article-header .board-tab ul li.active a:hover {
            opacity: 1; }
  .information article .article-content .board-content > li {
    border-bottom: 1px solid #ccc; }
    .information article .article-content .board-content > li > a {
      position: relative;
      font-size: 14px;
      color: #666;
      font-weight: 300;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      padding-left: 15px;
      padding-right: 100px;
      line-height: 60px;
      text-overflow: ellipsis; }
      .information article .article-content .board-content > li > a .date {
        position: absolute;
        top: 0;
        right: 15px;
        font-family: 'Lato', sans-serif;
        font-size: 13px;
        color: rgba(102, 102, 102, 0.5); }
  .information article .article-content .review-content {
    margin-top: 25px;
    display: table;
    table-layout: fixed;
    width: 100%; }
    .information article .article-content .review-content > div {
      display: table-cell;
      vertical-align: top; }
      .information article .article-content .review-content > div.review-img {
        width: 232px; }
        .information article .article-content .review-content > div.review-img img {
          width: 100%; }
      .information article .article-content .review-content > div.details {
        position: relative;
        padding-left: 20px; }
        .information article .article-content .review-content > div.details p {
          font-size: 15px;
          color: #333;
          line-height: 26px;
          font-weight: 300;
          word-break: keep-all; }
        .information article .article-content .review-content > div.details .date {
          position: absolute;
          bottom: 0;
          left: 20px;
          font-family: 'Lato', sans-serif;
          font-size: 13px;
          color: #666; }

.contact {
  text-align: center;
  padding: 75px 0 65px;
  background-image: url(/assets/images/main/bg_contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .contact figure img {
    display: block;
    margin: 0 auto; }
  .contact figure figcaption {
    margin-top: 45px; }
    .contact figure figcaption dl {
      color: #fff;
      font-size: 32px; }
      .contact figure figcaption dl dt {
        display: inline-block;
        font-weight: 500;
        margin-right: 10px; }
      .contact figure figcaption dl dd {
        display: inline-block;
        font-weight: 500; }
  .contact p {
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    font-weight: 300;
    margin-top: 30px; }

/*# sourceMappingURL=main.css.map */
