@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: inherit; }
  a:hover, a:focus {
    color: inherit;
    box-shadow: none;
    text-decoration: none; }

.table {
  margin: 0; }

.btn {
  padding: 0;
  border-radius: 0;
  box-shadow: none !important; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.container .row,
.container-fluid .row {
  overflow: hidden; }
  .container .row .col-1,
  .container .row .col-md-1,
  .container .row .col-lg-1,
  .container-fluid .row .col-1,
  .container-fluid .row .col-md-1,
  .container-fluid .row .col-lg-1 {
    float: left; }
  .container .row .col-2,
  .container .row .col-md-2,
  .container .row .col-lg-2,
  .container-fluid .row .col-2,
  .container-fluid .row .col-md-2,
  .container-fluid .row .col-lg-2 {
    float: left; }
  .container .row .col-3,
  .container .row .col-md-3,
  .container .row .col-lg-3,
  .container-fluid .row .col-3,
  .container-fluid .row .col-md-3,
  .container-fluid .row .col-lg-3 {
    float: left; }
  .container .row .col-4,
  .container .row .col-md-4,
  .container .row .col-lg-4,
  .container-fluid .row .col-4,
  .container-fluid .row .col-md-4,
  .container-fluid .row .col-lg-4 {
    float: left; }
  .container .row .col-5,
  .container .row .col-md-5,
  .container .row .col-lg-5,
  .container-fluid .row .col-5,
  .container-fluid .row .col-md-5,
  .container-fluid .row .col-lg-5 {
    float: left; }
  .container .row .col-6,
  .container .row .col-md-6,
  .container .row .col-lg-6,
  .container-fluid .row .col-6,
  .container-fluid .row .col-md-6,
  .container-fluid .row .col-lg-6 {
    float: left; }
  .container .row .col-7,
  .container .row .col-md-7,
  .container .row .col-lg-7,
  .container-fluid .row .col-7,
  .container-fluid .row .col-md-7,
  .container-fluid .row .col-lg-7 {
    float: left; }
  .container .row .col-8,
  .container .row .col-md-8,
  .container .row .col-lg-8,
  .container-fluid .row .col-8,
  .container-fluid .row .col-md-8,
  .container-fluid .row .col-lg-8 {
    float: left; }
  .container .row .col-9,
  .container .row .col-md-9,
  .container .row .col-lg-9,
  .container-fluid .row .col-9,
  .container-fluid .row .col-md-9,
  .container-fluid .row .col-lg-9 {
    float: left; }
  .container .row .col-10,
  .container .row .col-md-10,
  .container .row .col-lg-10,
  .container-fluid .row .col-10,
  .container-fluid .row .col-md-10,
  .container-fluid .row .col-lg-10 {
    float: left; }
  .container .row .col-11,
  .container .row .col-md-11,
  .container .row .col-lg-11,
  .container-fluid .row .col-11,
  .container-fluid .row .col-md-11,
  .container-fluid .row .col-lg-11 {
    float: left; }
  .container .row .col-12,
  .container .row .col-md-12,
  .container .row .col-lg-12,
  .container-fluid .row .col-12,
  .container-fluid .row .col-md-12,
  .container-fluid .row .col-lg-12 {
    float: left; }
  .container .row.priority,
  .container-fluid .row.priority {
    overflow: visible; }

.container {
  max-width: 1200px !important; }

body {
  position: relative;
  min-width: 1200px;
  font-size: 14px;
  color: #666;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif; }

.service .page-header {
  background-image: url(/assets/images/service/bg_page_header.jpg); }

.health-care .section-content .sub-title ~ .sub-title {
  margin-top: 90px; }
.health-care .section-content > p {
  font-size: 16px;
  color: #555;
  line-height: 30px; }
.health-care .section-content ul {
  margin-top: 60px; }
  .health-care .section-content ul li {
    text-align: center; }
    .health-care .section-content ul li .circle-box {
      display: block; }
      .health-care .section-content ul li .circle-box .icon-item {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: #f1f1f1; }
      .health-care .section-content ul li .circle-box:hover .icon-item {
        background-color: #33738d; }
    .health-care .section-content ul li dl {
      margin-top: 30px; }
      .health-care .section-content ul li dl dt {
        font-size: 18px;
        color: #333;
        font-weight: 400; }
      .health-care .section-content ul li dl dd {
        margin-top: 25px;
        font-size: 15px;
        color: #555;
        font-weight: 300;
        line-height: 30px; }
    .health-care .section-content ul li:nth-of-type(3) ~ li .circle-box {
      margin-top: 60px; }
    .health-care .section-content ul li:nth-of-type(1) .circle-box .icon-item {
      background-image: url(/assets/images/service/icon_health01.png); }
    .health-care .section-content ul li:nth-of-type(1) .circle-box:hover .icon-item {
      background-image: url(/assets/images/service/icon_health01_on.png); }
    .health-care .section-content ul li:nth-of-type(2) .circle-box .icon-item {
      background-image: url(/assets/images/service/icon_health02.png); }
    .health-care .section-content ul li:nth-of-type(2) .circle-box:hover .icon-item {
      background-image: url(/assets/images/service/icon_health02_on.png); }
    .health-care .section-content ul li:nth-of-type(3) .circle-box .icon-item {
      background-image: url(/assets/images/service/icon_health03.png); }
    .health-care .section-content ul li:nth-of-type(3) .circle-box:hover .icon-item {
      background-image: url(/assets/images/service/icon_health03_on.png); }
    .health-care .section-content ul li:nth-of-type(4) .circle-box .icon-item {
      background-image: url(/assets/images/service/icon_health04.png); }
    .health-care .section-content ul li:nth-of-type(4) .circle-box:hover .icon-item {
      background-image: url(/assets/images/service/icon_health04_on.png); }
    .health-care .section-content ul li:nth-of-type(5) .circle-box .icon-item {
      background-image: url(/assets/images/service/icon_health05.png); }
    .health-care .section-content ul li:nth-of-type(5) .circle-box:hover .icon-item {
      background-image: url(/assets/images/service/icon_health05_on.png); }
    .health-care .section-content ul li:nth-of-type(6) .circle-box .icon-item {
      background-image: url(/assets/images/service/icon_health06.png); }
    .health-care .section-content ul li:nth-of-type(6) .circle-box:hover .icon-item {
      background-image: url(/assets/images/service/icon_health06_on.png); }

.leisure-life .section-content .sub-title ~ .sub-title {
  margin-top: 90px; }
.leisure-life .section-content > p {
  font-size: 16px;
  color: #555;
  line-height: 30px; }
.leisure-life .section-content .decimal-list {
  margin-top: 40px;
  padding: 30px 35px;
  border: 1px solid #dfdfdf; }
.leisure-life .section-content ul {
  margin-top: 40px; }
  .leisure-life .section-content ul li figure figcaption {
    text-align: center;
    padding: 30px 0 40px;
    border: 1px solid #dfdfdf;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .leisure-life .section-content ul li figure figcaption dl dt {
      font-size: 17px;
      color: #333;
      font-weight: 400; }
    .leisure-life .section-content ul li figure figcaption dl dd {
      font-size: 15px;
      color: #555;
      line-height: 26px;
      font-weight: 300;
      margin-top: 25px; }
  .leisure-life .section-content ul li figure:hover figcaption {
    border-color: #33738d;
    background-color: #33738d; }
    .leisure-life .section-content ul li figure:hover figcaption dl dt {
      color: #fff; }
    .leisure-life .section-content ul li figure:hover figcaption dl dd {
      color: #fff; }

/*# sourceMappingURL=service.css.map */
